<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Close Quarters</title>
    <link href="welcome-page.component.css" rel="stylesheet"> 
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3>Close Quarters</h3>
        </div>
      </header>
      
      <main>
        <h1>Close Quarters</h1>
        <p class="lead">
          Connect, Explore, Learn and Experience new things with the people around you.
        </p>
        <p class="lead button-group">
          <a routerLink="/Login" class="btn btn-lg btn-light fw-bold border-white bg-white">Log In</a>
          <a routerLink="/signUp" class="btn btn-lg btn-light fw-bold border-white bg-white">Sign Up</a>
        </p>
      </main>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
