<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
  <div class="header">
    <h1>Close Quarters</h1>
  </div>

  <nav class="navBar">
    <ul class="menu">
      <li><a routerLink="/profile">Profile</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="/helpingHand">Helping Hand</a></li>
    </ul>
    <div class="sign-out">
      <a href="#sign-out">Sign out</a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <h3>Bulletin Board</h3>
      <p></p>
    </div>
  </div>
</body>
</html>
